@{
    ViewData["Title"] = "Privacy Policy";
}

<br />
<h2>Informativa sulla Privacy</h2>
<p>
    La tua privacy è importante per noi. Questa pagina descrive come vengono raccolti, utilizzati e protetti i tuoi dati.
</p>
