@{
    ViewData["Title"] = "Termini di Servizio";
}

<br />
<h2>Termini di Servizio</h2>
<p>
    Utilizzando questo sito accetti i seguenti termini di servizio. Ti invitiamo a leggerli attentamente.
</p>
